In [3]:
from pandas import read_csv
from pandas import datetime
from matplotlib import pyplot

def parser(x):
    return datetime.strptime(x, '%Y%m%d')

from pandas import read_csv
series = read_csv('../data/lewis-lake.csv', header=0, parse_dates=[2], index_col=2, squeeze=True, date_parser=parser)

In [4]:
series.head()

,STATION,STATION_NAME,PRCP,SNWD,TAVG,TMAX,TMIN,TOBS
DATE,,,,,,,,
1978-09-30,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,-9999.0,-9999.0,-9999,-9999,-9999,42
1978-10-01,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,-9999.0,-9999.0,-9999,-9999,-9999,21
1978-10-02,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,-9999.0,-9999.0,-9999,-9999,-9999,22
1978-10-03,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,-9999.0,-9999.0,-9999,-9999,-9999,27
1978-10-04,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,-9999.0,-9999.0,-9999,-9999,-9999,22

In [23]:
ll = series.ix['1990-01-01':'2016-12-31']
ll = ll.query('STATION_NAME == "LEWIS LAKE DIVIDE WY US" and TOBS > -9999 and TAVG > -9999 and PRCP > -0.9999')
ll.head()

,STATION,STATION_NAME,PRCP,SNWD,TAVG,TMAX,TMIN,TOBS
DATE,,,,,,,,
1990-01-01,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,0.3,-9999.0,29,33,26,29
1990-01-02,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,0.5,-9999.0,21,29,7,11
1990-01-03,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,0.1,-9999.0,11,19,4,13
1990-01-04,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,0.2,-9999.0,16,20,52,18
1990-01-05,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,0.0,-9999.0,20,29,11,16

In [30]:
import numpy as np
def month(x):
    return '{:%Y-%m-01}'.format(x)

stats = ll.groupby(month).agg({'PRCP' : np.sum, 'TAVG': np.mean, 'TMAX': np.max, 'TMIN': np.min})
stats.to_csv('../data/yellowstone-wr.csv', index_label='month')

In [31]:
stats

                 TAVG  PRCP  TMAX  TMIN
1990-01-01  26.870968   8.8    44    -5
1990-02-01  23.296296   6.3    50   -14
1990-03-01  32.580645   2.9    56     2
1990-04-01  40.166667   5.4    68    11
1990-05-01  41.806452   4.0    67    12
1990-06-01  54.666667   1.7    87    31
1990-07-01  58.750000   1.1    85    37
1990-08-01  56.129032   1.3    83    36
1990-09-01  52.433333   1.0    79    30
1990-10-01  32.733333   4.9    64     6
1990-11-01  23.766667   4.9    51    -4
1990-12-01   4.774194   4.4    44   -34
1991-01-01  12.548387   3.9    33   -24
1991-02-01  25.444444   2.8    50     1
1991-03-01  24.551724   7.9    54     0
1991-04-01  29.275862   4.7    60     7
1991-05-01  38.290323   6.1    69    10
1991-06-01  48.310345   1.5    71    28
1991-07-01  58.290323   0.3    81    34
1991-08-01  57.290323   0.7    80    37
1991-09-01  46.966667   2.4    76    21
1991-10-01  34.903226   3.2    68    -7
1991-11-01  18.733333   8.1    44   -11
1991-12-01  15.100000   3.8    36   -12
1992-01-01  16.032258   1.4    45   -12
1992-02-01  23.862069   7.0    51    -2
1992-03-01  30.466667   1.8    54    -1
1992-04-01  36.500000   6.2    66     7
1992-05-01  45.806452   0.7    71    21
1992-06-01  49.733333   3.6    77    30
...               ...   ...   ...   ...
2014-07-01  59.806452   2.4    78    37
2014-08-01  52.903226   6.3    77    36
2014-09-01  49.200000   2.7    71    22
2014-10-01  40.806452   1.4    61    18
2014-11-01  23.800000   6.3    56   -11
2014-12-01  22.096774   8.0    44   -16
2015-01-01  22.387097   4.7    44    -3
2015-02-01  25.642857   2.8    49   -16
2015-03-01  32.806452   1.9    55   -11
2015-04-01  35.233333   2.1    60     9
2015-05-01  42.419355   4.8    65    25
2015-06-01  56.600000   0.6    83    36
2015-07-01  55.000000   2.3    78    34
2015-08-01  56.322581   1.7    81    35
2015-09-01  51.233333   2.6    72    28
2015-10-01  42.806452   3.1    66    24
2015-11-01  23.100000   4.4    44    -3
2015-12-01  17.451613  10.3    40   -16
2016-01-01  20.032258   5.2    35   -11
2016-02-01  24.586207   2.9    45    -4
2016-03-01  27.935484   5.9    50    -7
2016-04-01  38.133333   1.5    64    17
2016-05-01  42.580645   2.7    65    19
2016-06-01  55.400000   0.7    77    33
2016-07-01  58.258065   1.1    79    34
2016-08-01  57.709677   0.1    80    35
2016-09-01  47.833333   3.4    74    31
2016-10-01  37.870968  10.1    58    22
2016-11-01  32.464286   2.9    57     6
2016-12-01  13.193548  11.4    32   -21

[324 rows x 4 columns]