In [1]:
from pandas import read_csv
from pandas import datetime
from matplotlib import pyplot

def parser(x):
    return datetime.strptime(x, '%Y%m%d')

from pandas import read_csv
series = read_csv('../data/lewis-lake.csv', header=0, parse_dates=[2], index_col=2, squeeze=True, date_parser=parser)

In [2]:
series.head()

,STATION,STATION_NAME,PRCP,SNWD,TAVG,TMAX,TMIN,TOBS
DATE,,,,,,,,
1978-09-30,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,-9999.0,-9999.0,-9999,-9999,-9999,42
1978-10-01,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,-9999.0,-9999.0,-9999,-9999,-9999,21
1978-10-02,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,-9999.0,-9999.0,-9999,-9999,-9999,22
1978-10-03,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,-9999.0,-9999.0,-9999,-9999,-9999,27
1978-10-04,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,-9999.0,-9999.0,-9999,-9999,-9999,22

In [3]:
ll = series.ix['1990-01-01':'2016-12-31']
ll = ll.query('STATION_NAME == "LEWIS LAKE DIVIDE WY US" and TOBS > -9999 and TAVG > -9999 and PRCP > -0.9999')
ll.head()

/Users/johnhudzina/anaconda/envs/keras-tutorial/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

,STATION,STATION_NAME,PRCP,SNWD,TAVG,TMAX,TMIN,TOBS
DATE,,,,,,,,
1990-01-01,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,0.3,-9999.0,29,33,26,29
1990-01-02,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,0.5,-9999.0,21,29,7,11
1990-01-03,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,0.1,-9999.0,11,19,4,13
1990-01-04,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,0.2,-9999.0,16,20,52,18
1990-01-05,GHCND:USS0010E09S,LEWIS LAKE DIVIDE WY US,0.0,-9999.0,20,29,11,16

In [4]:
import numpy as np
def month(x):
    return '{:%Y-%m-01}'.format(x)

weather = ll.groupby(month).agg({'PRCP' : np.sum, 'TAVG': np.mean, 'TMAX': np.max, 'TMIN': np.min})
weather.to_csv('../data/yellowstone-wr.csv', index_label='month')

In [5]:
weather

            TMAX  TMIN       TAVG  PRCP
1990-01-01    44    -5  26.870968   8.8
1990-02-01    50   -14  23.296296   6.3
1990-03-01    56     2  32.580645   2.9
1990-04-01    68    11  40.166667   5.4
1990-05-01    67    12  41.806452   4.0
1990-06-01    87    31  54.666667   1.7
1990-07-01    85    37  58.750000   1.1
1990-08-01    83    36  56.129032   1.3
1990-09-01    79    30  52.433333   1.0
1990-10-01    64     6  32.733333   4.9
1990-11-01    51    -4  23.766667   4.9
1990-12-01    44   -34   4.774194   4.4
1991-01-01    33   -24  12.548387   3.9
1991-02-01    50     1  25.444444   2.8
1991-03-01    54     0  24.551724   7.9
1991-04-01    60     7  29.275862   4.7
1991-05-01    69    10  38.290323   6.1
1991-06-01    71    28  48.310345   1.5
1991-07-01    81    34  58.290323   0.3
1991-08-01    80    37  57.290323   0.7
1991-09-01    76    21  46.966667   2.4
1991-10-01    68    -7  34.903226   3.2
1991-11-01    44   -11  18.733333   8.1
1991-12-01    36   -12  15.100000   3.8
1992-01-01    45   -12  16.032258   1.4
1992-02-01    51    -2  23.862069   7.0
1992-03-01    54    -1  30.466667   1.8
1992-04-01    66     7  36.500000   6.2
1992-05-01    71    21  45.806452   0.7
1992-06-01    77    30  49.733333   3.6
...          ...   ...        ...   ...
2014-07-01    78    37  59.806452   2.4
2014-08-01    77    36  52.903226   6.3
2014-09-01    71    22  49.200000   2.7
2014-10-01    61    18  40.806452   1.4
2014-11-01    56   -11  23.800000   6.3
2014-12-01    44   -16  22.096774   8.0
2015-01-01    44    -3  22.387097   4.7
2015-02-01    49   -16  25.642857   2.8
2015-03-01    55   -11  32.806452   1.9
2015-04-01    60     9  35.233333   2.1
2015-05-01    65    25  42.419355   4.8
2015-06-01    83    36  56.600000   0.6
2015-07-01    78    34  55.000000   2.3
2015-08-01    81    35  56.322581   1.7
2015-09-01    72    28  51.233333   2.6
2015-10-01    66    24  42.806452   3.1
2015-11-01    44    -3  23.100000   4.4
2015-12-01    40   -16  17.451613  10.3
2016-01-01    35   -11  20.032258   5.2
2016-02-01    45    -4  24.586207   2.9
2016-03-01    50    -7  27.935484   5.9
2016-04-01    64    17  38.133333   1.5
2016-05-01    65    19  42.580645   2.7
2016-06-01    77    33  55.400000   0.7
2016-07-01    79    34  58.258065   1.1
2016-08-01    80    35  57.709677   0.1
2016-09-01    74    31  47.833333   3.4
2016-10-01    58    22  37.870968  10.1
2016-11-01    57     6  32.464286   2.9
2016-12-01    32   -21  13.193548  11.4

[324 rows x 4 columns]

In [6]:
def us_ur_parser(y,m):
    x = '{}-{}-01'.format(y,m.replace('M',''))
    return datetime.strptime(x, '%Y-%m-%d')
urate = read_csv('../data/us-unemployment-rate.csv', header=0, parse_dates={'month' : [1, 2]}, index_col=[0], squeeze=True, date_parser=us_ur_parser)

In [7]:
urate = urate.ix['1990-01-01':'2016-12-31'].rename(index=str, columns={"Value": "unemployment"})
urate

/Users/johnhudzina/anaconda/envs/keras-tutorial/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

                       Series id  unemployment
month
1990-01-01 00:00:00  LNS14000000           5.4
1990-02-01 00:00:00  LNS14000000           5.3
1990-03-01 00:00:00  LNS14000000           5.2
1990-04-01 00:00:00  LNS14000000           5.4
1990-05-01 00:00:00  LNS14000000           5.4
1990-06-01 00:00:00  LNS14000000           5.2
1990-07-01 00:00:00  LNS14000000           5.5
1990-08-01 00:00:00  LNS14000000           5.7
1990-09-01 00:00:00  LNS14000000           5.9
1990-10-01 00:00:00  LNS14000000           5.9
1990-11-01 00:00:00  LNS14000000           6.2
1990-12-01 00:00:00  LNS14000000           6.3
1991-01-01 00:00:00  LNS14000000           6.4
1991-02-01 00:00:00  LNS14000000           6.6
1991-03-01 00:00:00  LNS14000000           6.8
1991-04-01 00:00:00  LNS14000000           6.7
1991-05-01 00:00:00  LNS14000000           6.9
1991-06-01 00:00:00  LNS14000000           6.9
1991-07-01 00:00:00  LNS14000000           6.8
1991-08-01 00:00:00  LNS14000000           6.9
1991-09-01 00:00:00  LNS14000000           6.9
1991-10-01 00:00:00  LNS14000000           7.0
1991-11-01 00:00:00  LNS14000000           7.0
1991-12-01 00:00:00  LNS14000000           7.3
1992-01-01 00:00:00  LNS14000000           7.3
1992-02-01 00:00:00  LNS14000000           7.4
1992-03-01 00:00:00  LNS14000000           7.4
1992-04-01 00:00:00  LNS14000000           7.4
1992-05-01 00:00:00  LNS14000000           7.6
1992-06-01 00:00:00  LNS14000000           7.8
...                          ...           ...
2014-07-01 00:00:00  LNS14000000           6.2
2014-08-01 00:00:00  LNS14000000           6.2
2014-09-01 00:00:00  LNS14000000           5.9
2014-10-01 00:00:00  LNS14000000           5.7
2014-11-01 00:00:00  LNS14000000           5.8
2014-12-01 00:00:00  LNS14000000           5.6
2015-01-01 00:00:00  LNS14000000           5.7
2015-02-01 00:00:00  LNS14000000           5.5
2015-03-01 00:00:00  LNS14000000           5.4
2015-04-01 00:00:00  LNS14000000           5.4
2015-05-01 00:00:00  LNS14000000           5.5
2015-06-01 00:00:00  LNS14000000           5.3
2015-07-01 00:00:00  LNS14000000           5.2
2015-08-01 00:00:00  LNS14000000           5.1
2015-09-01 00:00:00  LNS14000000           5.0
2015-10-01 00:00:00  LNS14000000           5.0
2015-11-01 00:00:00  LNS14000000           5.0
2015-12-01 00:00:00  LNS14000000           5.0
2016-01-01 00:00:00  LNS14000000           4.9
2016-02-01 00:00:00  LNS14000000           4.9
2016-03-01 00:00:00  LNS14000000           5.0
2016-04-01 00:00:00  LNS14000000           5.0
2016-05-01 00:00:00  LNS14000000           4.7
2016-06-01 00:00:00  LNS14000000           4.9
2016-07-01 00:00:00  LNS14000000           4.9
2016-08-01 00:00:00  LNS14000000           4.9
2016-09-01 00:00:00  LNS14000000           4.9
2016-10-01 00:00:00  LNS14000000           4.8
2016-11-01 00:00:00  LNS14000000           4.6
2016-12-01 00:00:00  LNS14000000           4.7

[324 rows x 2 columns]

In [8]:
def ysv_parser(x):
    return datetime.strptime(x, '%Y-%m-%d')
vistors = read_csv('../data/yellowstone-visitors.csv', header=0, parse_dates=[0], index_col=0, squeeze=True, date_parser=ysv_parser)

In [9]:
vistors = vistors.ix['1990-01-01':'2016-12-31'].rename(index=str, columns={"Value": "unemplyment"})

/Users/johnhudzina/anaconda/envs/keras-tutorial/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

In [10]:
from pandas import concat
combined_features = concat([vistors, urate, weather], axis=1).drop('Series id', axis=1)
combined_features

            <class 'str'>  unemployment  TMAX  TMIN       TAVG  PRCP
month
1990-01-01          25884           5.4    44    -5  26.870968   8.8
1990-02-01          33285           5.3    50   -14  23.296296   6.3
1990-03-01          19372           5.2    56     2  32.580645   2.9
1990-04-01          29242           5.4    68    11  40.166667   5.4
1990-05-01         203712           5.4    67    12  41.806452   4.0
1990-06-01         526586           5.2    87    31  54.666667   1.7
1990-07-01         760520           5.5    85    37  58.750000   1.1
1990-08-01         674454           5.7    83    36  56.129032   1.3
1990-09-01         414563           5.9    79    30  52.433333   1.0
1990-10-01         111145           5.9    64     6  32.733333   4.9
1990-11-01           8117           6.2    51    -4  23.766667   4.9
1990-12-01          16692           6.3    44   -34   4.774194   4.4
1991-01-01          28851           6.4    33   -24  12.548387   3.9
1991-02-01          38050           6.6    50     1  25.444444   2.8
1991-03-01          19946           6.8    54     0  24.551724   7.9
1991-04-01          19875           6.7    60     7  29.275862   4.7
1991-05-01         188798           6.9    69    10  38.290323   6.1
1991-06-01         499107           6.9    71    28  48.310345   1.5
1991-07-01         796656           6.8    81    34  58.290323   0.3
1991-08-01         721103           6.9    80    37  57.290323   0.7
1991-09-01         432948           6.9    76    21  46.966667   2.4
1991-10-01         144944           7.0    68    -7  34.903226   3.2
1991-11-01           6261           7.0    44   -11  18.733333   8.1
1991-12-01          23998           7.3    36   -12  15.100000   3.8
1992-01-01          33552           7.3    45   -12  16.032258   1.4
1992-02-01          40245           7.4    51    -2  23.862069   7.0
1992-03-01          19615           7.4    54    -1  30.466667   1.8
1992-04-01          51933           7.4    66     7  36.500000   6.2
1992-05-01         257951           7.6    71    21  45.806452   0.7
1992-06-01         539959           7.8    77    30  49.733333   3.6
...                   ...           ...   ...   ...        ...   ...
2014-07-01         858856           6.2    78    37  59.806452   2.4
2014-08-01         773357           6.2    77    36  52.903226   6.3
2014-09-01         571764           5.9    71    22  49.200000   2.7
2014-10-01         194804           5.7    61    18  40.806452   1.4
2014-11-01          11537           5.8    56   -11  23.800000   6.3
2014-12-01          18340           5.6    44   -16  22.096774   8.0
2015-01-01          28091           5.7    44    -3  22.387097   4.7
2015-02-01          34343           5.5    49   -16  25.642857   2.8
2015-03-01          22989           5.4    55   -11  32.806452   1.9
2015-04-01          46600           5.4    60     9  35.233333   2.1
2015-05-01         386064           5.5    65    25  42.419355   4.8
2015-06-01         780768           5.3    83    36  56.600000   0.6
2015-07-01         980702           5.2    78    34  55.000000   2.3
2015-08-01         854408           5.1    81    35  56.322581   1.7
2015-09-01         680213           5.0    72    28  51.233333   2.6
2015-10-01         252013           5.0    66    24  42.806452   3.1
2015-11-01          11049           5.0    44    -3  23.100000   4.4
2015-12-01          20470           5.0    40   -16  17.451613  10.3
2016-01-01          30621           4.9    35   -11  20.032258   5.2
2016-02-01          36327           4.9    45    -4  24.586207   2.9
2016-03-01          22924           5.0    50    -7  27.935484   5.9
2016-04-01          59253           5.0    64    17  38.133333   1.5
2016-05-01         444630           4.7    65    19  42.580645   2.7
2016-06-01         838316           4.9    77    33  55.400000   0.7
2016-07-01         995917           4.9    79    34  58.258065   1.1
2016-08-01         841036           4.9    80    35  57.709677   0.1
2016-09-01         701754           4.9    74    31  47.833333   3.4
2016-10-01         242004           4.8    58    22  37.870968  10.1
2016-11-01          24710           4.6    57     6  32.464286   2.9
2016-12-01          19685           4.7    32   -21  13.193548  11.4

[324 rows x 6 columns]

In [12]:
combined_features.to_csv('../data/yellowstone-visitors-ur-weather.csv', float_format='%.1f', index_label='month')